@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #b8b6b7;
  background-color: #151314;
}

/*menu*/
.menu {
  font-size: 24px;
  display: flex;
  justify-content: center; 
  width: 100%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

.menu ul li {
  list-style-type: none;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.menu ul li a {
  color: #b8b6b7;
  text-decoration: none;
  cursor: pointer;
}