@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', 'Segoe UI', 'Roboto', -apple-system, BlinkMacSystemFont, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: #b8b6b7;
  background-color: #151314;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 30px;
}

h1 {
  padding: 80px 0 40px;
}

.user-list, .new-user, .update-user {
  width: 70%;
}

.user-form {
  display: flex;
  flex-direction: column;
}

.user-form input {
  margin-top: 6px;
  margin-bottom: 24px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px #b1b2b5;
  color: #b1b2b5;
  border-style: solid;
  outline: none;
  box-shadow: none;
  padding: 6px;
}

.user-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.user-controls button {
  padding: 5px;
  background-color: transparent;
  color: #b1b2b5;
  border: 1px #b1b2b5;
  border-radius: 6px;
  cursor: pointer;
  border-style: solid;
}


/*Menu*/
.menu {
  display: flex;
  position: fixed;
  background-color: #151314;
  font-size: 16px;
  width: 100%;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

.menu ul li {
  list-style-type: none;
  padding: 20px;
  width: 50%;
  text-align: center;
}

.menu ul li a {
  color: #b8b6b7;
  text-decoration: none;
  cursor: pointer;
}


/*UserList*/
.user {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 5px 0;
}

.user-id {
  grid-area: 1 / 1 / 3 / 2;
  align-self: center;
}

.user-data {
  grid-area: 1 / 2 / 3 / 3;
  padding: 20px 0;
}

.user-controls {
  grid-area: 3 / 1 / 4 / 3;
}

.bottom-line {
  margin-top: 10px;
  grid-area: 4 / 1 / 5 / 3;
}


/*telas maiores*/
@media screen and (width > 768px) {
  .menu ul {
    justify-content: flex-start;
  }

  .menu ul li {
    white-space: nowrap;
    width: initial;
  }

  .user-controls {
    justify-content: flex-start;
    padding-left: 10%;
  }

  .user-controls button {
    margin-right: 18px;
  }

  .new-user .user-controls, .update-user .user-controls {
    padding-left: 0;
  }
}